@model QuanLyKhoaLuan.Models.Thesis

@{
    ViewBag.Title = "Thông tin đề tài đã đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row page-titles mx-0">
    <div class="col-sm-6 p-md-0">
        <div class="welcome-text">
        </div>
    </div>
    <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","PageStudent" )">Trang chủ</a></li>
            <li class="breadcrumb-item active"><span>Thông tin đề tài đã đăng ký</span></li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="col-sm-3 p-md-0 justify-content-sm-start mt-2 mt-sm-0 d-flex">
                    <h4 class="card-title">ĐĂNG KÝ ĐỀ TÀI KHÓA LUẬN TỐT NGHIỆP</h4>
                </div>
                <div class="col-sm-9 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                    @if (ViewBag.checkDate == true)
                    {
                        <a href="@Url.Action("CancelRegister", "PageStudent", new {id =  ViewBag.id})" class="btn btn-danger" id="btnSearch">Hủy đăng ký</a>
                    }

                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <h4>Thông tin đề tài đã đăng ký</h4>
                        <table class="table student-data-table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Tên đề tài:</td>
                                    <td>@Model.Topic.name</td>
                                </tr>
                                <tr>
                                    <td>Thời gian làm bài:</td>
                                    <td>@Model.start_date đến @Model.end_date</td>
                                </tr>
                                <tr>
                                    <td>Giáo viên hướng dẫn:</td>
                                    <td>@Model.Lecturer.full_name</td>
                                </tr>
                                <tr>
                                    <td>Khoa:</td>
                                    <td>@Model.Major.Department.name</td>
                                </tr>
                                <tr>
                                    <td>Bộ Môn:</td>
                                    <td>@Model.Major.name</td>
                                </tr>
                                <tr>
                                    <td>Hội đồng chấm thi:</td>
                                    <td>@Model.Council.name</td>
                                </tr>
                                <tr>
                                    <td>Thành viên hội đồng:</td>
                                    <td>
                                        @foreach (var item in ViewBag.member_council)
                                        {
                                            <p>@item.Lecturer.full_name</p>
                                        }

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-6">
                        <div>
                            <h4>Thông tin đề cương</h4>
                            <table class="table student-data-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Thời gian nộp đề cương:</td>
                                        <td>@Model.start_date_outline đến @Model.end_date_outline</td>
                                    </tr>
                                    <tr>
                                        <td>Link file:</td>
                                        @if (Model.file_outline != null)
                                        {
                                            <td><a href="@Url.Action("DownloadOutline", "PageStudent", new {id=Model.thesis_id})">Link download</a></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>
                                    <tr>
                                        <td>Trạng thái:</td>
                                        @if (Model.file_outline == null)
                                        {
                                            <td><span class="badge badge-danger">Chưa nộp</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge badge-success">Đã nộp</span></td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <h4>Thông tin khóa luận</h4>
                            <table class="table student-data-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Thời gian nộp khóa luận:</td>
                                        <td>@Model.start_date_thesis đến @Model.end_date_thesis</td>
                                    </tr>
                                    <tr>
                                        <td>Link file:</td>
                                        @if (Model.file_thesis != null)
                                        {
                                            <td><a href="@Url.Action("DownloadThese", "PageStudent", new {id=Model.thesis_id})">Link download</a></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                    </tr>

                                    <tr>
                                        <td>Trạng thái:</td>
                                        @if (Model.file_thesis == null)
                                        {
                                            <td><span class="badge badge-danger">Chưa nộp</span></td>
                                        }
                                        else
                                        {
                                            <td><span class="badge badge-success">Đã nộp</span></td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


