
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/Admin/images/favicon.png">
    <link href="~/assets/Admin/vendor/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <link href="~/assets/Admin/vendor/chartist/css/chartist.min.css" rel="stylesheet">
    <link href="~/assets/Admin/css/style.css" rel="stylesheet">
    <link href="~/assets/Admin/css/StyleCustoms.css" rel="stylesheet" />
    <link href="~/assets/Admin/vendor/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">

    <!--- fontawesome -->
    <link href="~/assets/fontawesome-free-6.2.1-web/css/fontawesome.css" rel="stylesheet">
    <link href="~/assets/fontawesome-free-6.2.1-web/css/brands.css" rel="stylesheet">
    <link href="~/assets/fontawesome-free-6.2.1-web/css/solid.css" rel="stylesheet">
    <link href="~/Content/Site.css?t=@DateTime.Now" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">


    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div id="main-wrapper">

        <div class="nav-header">
            <a href="index.html" class="brand-logo">
                <img class="logo-abbr" src="~/assets/Admin/images/logo.png" alt="">
                <img class="logo-compact" src="~/assets/Admin/images/logo-text.png" alt="">
                <img class="brand-title" src="~/assets/Admin/images/logo-text.png" alt="">
            </a>

            <div class="nav-control">
                <div class="hamburger">
                    <span class="line"></span><span class="line"></span><span class="line"></span>
                </div>
            </div>
        </div>

        @{
            Html.RenderPartial("_HeaderPartialView");
        }


        @{
            Html.RenderPartial("_NavPartialView");
        }



        @RenderBody()

        <div class="footer">
            <div class="copyright">
                <p>Copyright © Designed &amp; Developed by <a href="#" target="_blank">Nguyễn Tuấn Kiệt</a> 2022</p>
                <p>Distributed by <a href="https://themewagon.com/" target="_blank">NTU</a></p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->



    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/assets/Admin/vendor/global/global.min.js"></script>
    <script src="~/assets/Admin/js/quixnav-init.js"></script>
    <script src="~/assets/Admin/js/custom.min.js"></script>

    <script src="~/assets/Admin/vendor/chartist/js/chartist.min.js"></script>

    <script src="~/assets/Admin/vendor/moment/moment.min.js"></script>
    <script src="~/assets/Admin/vendor/pg-calendar/js/pignose.calendar.min.js"></script>

    <script src="~/assets/Admin/js/dashboard/dashboard-2.js"></script>

    <script src="~/assets/Admin/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/assets/Admin/js/plugins-init/sweetalert-init.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/js/multi-select-tag.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Circle progress -->

</body>

</html>