@model QuanLyKhoaLuan.Models.Student

@{
    ViewBag.Title = "Thêm sinh viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="content-body">
    <div class="container-fluid">

        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Thêm sinh viên</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Bảng điều khiển</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Students")">Danh sách sinh viên</a></li>
                    <li class="breadcrumb-item active">Thêm sinh viên</li>
                </ol>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header">

                            <div class="col-sm-12 p-md-0 justify-content-sm-star mt-2 mt-sm-0 d-flex">
                                <h4>Thông tin sinh viên</h4>
                            </div>
                        </div>
                        <div class="card-body">
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label class="pl-4">Mã sinh viên <span class="text-red">(*)</span></label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control", id = "code" } })
                                        @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pl-4">Họ tên <span class="text-red">(*)</span></label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.full_name, new { htmlAttributes = new { @class = "form-control", id = "full_name" } })
                                        @Html.ValidationMessageFor(model => model.full_name, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pl-4">Email <span class="text-red">(*)</span></label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", id = "email" } })
                                        @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pl-4">Số điện thoại</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control", id = "phone" } })
                                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pl-4">Ngày sinh</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.birthday, new { htmlAttributes = new { @class = "form-control", type = "Date", id="date" } })
                                        @Html.ValidationMessageFor(model => model.birthday, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pl-4">Giới tính</label>
                                    <div class="col-md-10">
                                        Nam  @Html.RadioButtonFor(m => m.gender, 1, new { @class = "mr-4", @checked = "checked" })
                                        Nữ  @Html.RadioButtonFor(m => m.gender, 0)

                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pl-4">Địa chỉ</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.address, new { htmlAttributes = new { @class = "form-control", id = "address" } })
                                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pl-4">Điểm trung bình</label>
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.gpa, new { htmlAttributes = new { @class = "form-control", id = "gpa" } })
                                        @Html.ValidationMessageFor(model => model.gpa, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pl-4">Lớp <span class="text-red">(*)</span></label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("class_id", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.class_id, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="pl-4">Niên khóa <span class="text-red">(*)</span></label>
                                    <div class="col-md-10">
                                        @Html.DropDownList("school_year_id", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.school_year_id, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card p-bt90">
                        <div class="card-body">

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 text-center">
                                    <input type="submit" value="Thêm" class="btn btn-primary" />
                                    <input type="button" id="btn-reset" value="Reset" class="btn btn-danger ml-3" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




@section scripts {
    <script>
        $(function () {
            // đăng ký sự kiên click
            $('#btn-reset').click(function () {
                $("#code").val("");
                $("#full_name").val("");
                $("#email").val("");
                $("#phone").val("");
                $("#date").val("");
                $("#address").val("");
                $("#gpa").val("");
            });
        });
    </script>
}
