
@{
    ViewBag.Title = "Danh sách đề tài chấm điểm";
    Layout = "~/Areas/Lecture/Views/Shared/_LayoutLecture.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Danh sách khóa luận chấm điểm</h4>
                </div>
            </div>

            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Bảng điều khiển</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Index", "CouncilLecture")">Danh sách hội đồng</a></li>
                    <li class="breadcrumb-item active"><span>Danh sách khóa luận chấm điểm</span></li>
                </ol>
            </div>
        </div>

        @if (ViewBag.Status != null)
        {
            <div class="col-sm-12 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <div class="alert alert-primary alert-dismissible alert-alt solid fade show">
                    <button type="button" class="close h-100" data-dismiss="alert" aria-label="Close">
                        <span><i class="mdi mdi-close"></i></span>
                    </button>
                    <strong>Thông báo! </strong> @ViewBag.Status
                </div>
            </div>
        }
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="col-sm-3 p-md-0">

                        </div>
                        <div class="col-sm-8 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                            <input type="text" class="form-control col-4 pl-2 mr-2" id="keywork" placeholder="Tìm kiếm ..." />
                            <button type="button" class="btn btn-primary" id="btnSearch">Tìm kiếm</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table">
                            <table class="table table-bordered table-striped text-table-color verticle-middle table-responsive-sm col-12">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Mã khóa luận</th>
                                        <th>Tên đề tài</th>
                                        <th>Tên hội đồng</th>
                                        <th>Niên khóa</th>
                                        <th>Giảng viên</th>
                                        <th>Sinh viên</th>
                                        <th>Trạng thái</th>
                                        <th>Chức năng</th>
                                    </tr>

                                </thead>
                                <tbody id="show_data">
                                    @* load data ajax*@
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6" class="pagination-none-boder" id="pagination">
                                        </td>
                                        <td colspan="4" class="pagination-none-boder">
                                            <div class="row d-flex justify-content-end">
                                                <p class="col-4 pt-2">Hiển thị</p>
                                                <select class="form-control col-3" id="pageSize">
                                                    <option value="5" selected>5</option>
                                                    <option value="10">10</option>
                                                    <option value="15">15</option>
                                                    <option value="20">20</option>
                                                </select>
                                                <p class="col-4 pt-2">Dòng</p>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <script>

        var id = @Html.Raw(Json.Encode(ViewBag.id));

       

        var listThese = {
            init: function () {
                listThese.registerEvent();
            },

            registerEvent: function () {
                listThese.loadData(id)
            },

            loadData: function (id) {
                debugger
                $.ajax({
                    url: '/Lecture/CouncilLecture/GetThesislData',
                    type: 'GET',
                    data: { id: id},

                    success: function (res) {
                        if (res.TotalItem >= 0) {

                            var item = res.Data;
                            var html = "";
                            for (let i = 0; i < res.Data.length; i++) {
                                html += "<tr>";
                                html += ` <td>${i + 1}</td>`;
                                html += ` <td>${item[i].thesis.code}</td>`;
                                html += ` <td>${item[i].topic_name}</td>`;
                                html += ` <td>${item[i].council_name}</td>`;
                                html += ` <td>${item[i].schoolyear_name}</td>`;
                                html += ` <td>${item[i].lecturer_name}</td>`;
                                html += ` <td>${item[i].student_name}</td>`;

                                if (item[i].thesis.total_score != null) {
                                    html += ` <td><span  class="badge badge-success ">Đã chấm điểm</span></td>`;
                                } else {
                                    html += ` <td><span  class="badge badge-danger ">Chưa chấm điểm</span></td>`;
                                }

                                
                                html += `<td>`;
                                html += `<a  href="@Url.Action("Detail", "CouncilLecture")/${item[i].thesis.thesis_id}"  class="btn btn-info btnEdit" title="Danh sách khóa luận"><i class="fa-solid fa-solid fa-eye"></i></a>
                                </td >`
                                html += `</tr>`;
                            }
                        }
                        $('#show_data').html(html);
                    //    councilController.Pagination(res.CurrentPage, res.NumberPage, res.PageSize);
                    }
                })
            },
        }

        listThese.init();

    </script>
}